[alias]
    st = status
    ci = commit
    co = checkout
    sta = stash
    br = branch

    vis = log --all --graph --oneline --decorate
    lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset %C(bold)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[color]
    ui = true
    interactive = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
	editor = vim
